<%# needs 6 input fields with ids taxon0, taxon1, taxon2, etc. %>
<table id="taxonomy-table" class="table">
  <thead>
    <tr>
      <th>Kingdom</th>
      <th>Phylum</th>
      <th>Class</th>
      <th>Order</th>
      <th>Family</th>
      <th>Genus</th>
      <th>Species</th>
    </tr>
    <tr id="constraints" >
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<script>


//TODO: define a model class/object with getter and setter
// and use that for syncing the input and the column searches

var table = $('#taxonomy-table').DataTable({
  language: { search: "Filter:" },
  columnDefs: [
    {
      targets: '_all',
      render: function ( data, type, row, meta ) {
      return `<button type="button" class="btn btn-default btn-block" style="text-align: left;" aria-label="Add constraint ${data}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> ${data}</button>`;
        // FIXME: more performant way would be to use an object for the model
        // instead of the column search
        /*
        var api = new $.fn.dataTable.Api( meta.settings ),
            constraint = api.column(meta.col).search(),
            value = data;

        if(constraint == ""){
          value = `<button type="button" class="btn btn-default">${data}</button>`;
        }

        return value;
        */
      }
    }
  ],
    "bSortCellsTop": true,
    "ajax": '<%= json_url %>'
});

$('#taxonomy-table thead').on('click', '#constraints th', function(e) {
  table.column(this.cellIndex).search("").draw();
});

$('#taxonomy-table tbody').on('click', 'td', function(e) {
  table.column(this.cellIndex).search(this.textContent).draw();
});

// sync search constraints with input fields on preDraw event
table.on('preDraw', function(){
  console.log('preDraw event')
  $('#constraints th').each(function(index){
    let value = table.column(index).search();
    let label = value == "" ? "" : `<button type="button" class="btn btn-default btn-block" style="text-align: left;" aria-label="Remove constraint ${value}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> ${value}</button>`;

    $(this).html(label);
    $(`#taxon${index}`).val(value);
  });
});
</script>
