<% content_for :page_title, "#{@search_results.to_s} Search Results" %>

<h1>Search Results</h1>

<ul>
  <li><%= @search_results.num_species %> species</li>
  <li>Estimated uncompressed tar size, excluding occurrence data: <%= number_to_human_size  @search_results.estimated_tar_size %></li>
  <% if @search_results.estimated_tar_size > @search_results.download_limit %>
  <li>
    <div class="alert alert-warning">
      Search results are estimated to be greater than <%= number_to_human_size @search_results.download_limit %>
      Large search results are not yet well supported.
    </div>
  </li>
  <% else %>
  <li><%= link_to 'Download as tarball', search_path(1234, @search_results.params.merge(format: :tgz)) %>
  <% end %>
</ul>
