<% content_for :page_title, "#{@search_results.to_s} Search Results" %>

<h1>Search Results</h1>
<p class="lead"><%= @search_results.to_s %></p>

<div id="results">
<%= render partial: 'batch_results' %>
</div>
