<h1>Data tables</h1>

<% %w(kingdom phylum class order family genus species).each_with_index do |taxon, index| %>
  <%= hidden_field_tag :"taxon_#{taxon}", "", :id => "taxon#{index}" %>
<% end %>

<%= render partial: 'taxonomy_control', locals: { json_url: ENV['RAILS_RELATIVE_URL_ROOT'] + '/taxon.tsv.json' } %>
