<h1>Genes with product mapping to multiple symboles <small>Threshold greater than <%= @limit %> sequences</small></h1>

<%# TODO: mappings table as form model %>

<table id="symbols-table" class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Symbol</th>
      <th>Sequences</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @genes.each do |k,v| %>
    <% v.each do |mapping| %>
      <%# mapping == [["COI", "cytochrome-oxidase-subunit-1"], 1196941] %>
      <tr>
        <td><%= k %></td>
        <td><%= mapping[0][0] %></td>
        <td><%= mapping[1] %></td>
        <td></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<script>
var table = $('#symbols-table').DataTable({pageLength: 100});
</script>
